<%- include("partials/header") -%>

<div class="container-fluid">
  <div class="col-lg-8 diary-page">
    <h2 class="date">About The Human Diary</h2>
    <div class="about">
      <h3 class="attribution">The Human Diary is an experimental project designed to encourage reflection and daily journaling.</h3>

    </div>
    <hr>
    <h2 class="date">How It Works</h2>
    <h3 class="about"><b>The Timeframe</b></h3>
    <p>When you begin a new entry into the human diary a 5 minute timer begins. A subtle progress bar across the top of the
    composition area will slowly fill up, though I encourage you to try to not check it very often. Building a habit depends
    on spending intentional time every day (the every day part is more important than the length of time),
    and as you grow this habit I suspect you'll find the time passing more quickly. When the bar fills up a pop-up will inform you
    of what a great job you've done and encourage you to finish up your final thoughts. Feel free to keep writing as long as you like,
    but at that point your obligation has been fulfilled.</p>
    <h3 class="about"><b>The Prompt</b></h3>
    <p>Every day, a new random quote is generated. These quotes come courtesy of favqs.com, and are intended to be a jumping off
    point for your daily reflection. Some days you may find the quote to be inspirational, or maybe it will encourage you to think differently
    about something, or perhaps you have no interest in engaging with it. The quotes should be treated however you feel like treating them
    on that day; don't feel like you have to write a response or agree with them.</p>
    <h3 class="about"><b>The Others</b></h3>
    <p>The Human Diary is designed to allow for the anonymous collection of people's experiences, thoughts, reflections, poetry, musings, anything
    they feel like sharing. As you and others submit your entries for the day, you'll see the responses grow. If you would like to identify yourself
    as part of your entry, feel free, but also don't feel any pressure to do so. In the interest of creating a community of thoughtfulness and
    openness, there is intentionally no way to directly interact with other entries or users, aside from reading and reflecting on their writings.</p>
    <!-- <h3>The Outcome</h3>
    <p>The Human Diary was inspired by a concept from Liu Cixin's <i>Remembrance of Earth's Past</i> trilogy, in which in an effort to record
    something of Earth civilization, everyone is encouraged to contribute to a Human Diary and share their stories. I hope that this format
    can lead to something similar, and help develop a sense of connection and a habit of reflection. The hope is that through taking
    a few minutes every day to slow down, unload our brains, and see what others are feeling we can build some more intentionality into
    our days, thoughts, and actions.</p> -->
    <hr>
    <h2 class="date">Contact</h2>
    <div class="row">

      <div class="col-sm-8">
        <h3 class="about"><b>The State Of It</b></h3>
        <p>The Human Diary is a work in progress and an experiment. If you have any questions, suggestions, or concerns, please
        feel free to send an email.</p>

      </div>
      <div class="col-sm-4">
        <a href="mailto:humandiary.info@gmail.com" class="fas fa-paper-plane fa-7x mail-btn"></a>
      </div>


    </div>

  </div>
</div>


<%- include("partials/footer") -%>
