<%- include("partials/header") -%>

<div class="container-fluid">
  <div class="col-lg-8 diary-page">
    <h2 class="date">About The Human Diary</h2>
    <div class="about">
      <h3 class="attribution">The Human Diary is an experimental project designed to encourage reflection and daily journaling.</h3>

    </div>

  </div>
</div>


<%- include("partials/footer") -%>
